<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="https://i.ibb.co/M8S0Zzj/live-streaming.png" itemprop="thumbnailUrl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Watch Stream</title>
    <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1pVLG4gZy7jdow3sO-wFS06aP_A9QX0O6"> <!-- Corrected Google Drive URL -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.9/plyr.css">
    <style>
      .marquee-container {
        font-size: 30px;
        font-weight: 800;
        color: Blue;
        font-family: sans-serif;
        background-color: #f7f305;
        padding: 10px;
      }
    </style>
</head>

<body>
    <header>
        <div class="marquee-container">
            <div id="file-name">%s</div>
        </div>
    </header>

    <div class="container">
        <video class="player" controls>
            <source src="%s" type="application/x-mpegURL">
            Your browser does not support the video tag.
        </video>
    </div>

    <footer>
        <center><h4>Video not playing? Possibly because your browser or the player doesn't support codec. Please download and watch.</h4></center>
    </footer>

    <script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
    <script>
        const controls = [
            'play-large',
            'rewind',
            'play', 
            'fast-forward', 
            'progress', 
            'current-time',
            'duration',
            'mute',
            'volume',
            'captions',
            'settings',
            'pip',
            'airplay',
            'download',
            'fullscreen'
        ];

        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', { controls });
        });
    </script>
</body>
</html>
